/* customer color */
:root {
    --DevOpsBrown: #b76b41;
}

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');
/* CSS Reset */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* End of CSS Reset */

body {
    background-color: black;
    color: var(--DevOpsBrown)
}

h1 {
    text-align: center;
}